.complete {
  text-decoration: line-through;
}

body{
  color:gold;
  background-color: black;
}
.sec1{
  margin-bottom: 1em;
}
.app{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 100%;
}

.todo-list{
  font-size: 20px;
  color: gold;
  background-color:black;
}
button{
  height: 20px;
  width: 100px;
}